@media (min-width:768px) {
  .col-event-search-bar {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.event-search-bar {
  max-width: 600px;
  background-color: white;
  border-radius: 20px;
  border-color: #C4C4C4;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 25px;
  padding: 10px;
}

@media (min-width:768px) {
.event-card-deck {
  width: 75%;
}
}

.search-input-group-text{
  background-color: white;
  border-radius: 20px 0px 0px 20px;
  border-color: white;
}

.search-input{
  border-radius: 0px 20px 20px 0px;
  border-color: white;
}

@media (min-width:768px) {
  .col-filter {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 300px;
  }
}

@media (min-width:768px) {
  .col-event {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.div-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
}
@media (min-width:768px){
  .div-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.div-filter h3 {
  margin: 10px;
  background-color: white;
}

.div-filter > .dropdown {
  margin: 10px;
  background-color: white;
}

.dropdown-filter, .dropdown-filter:hover {
  background: white;
  color: #BABABA;
  border: none;
}

.dropdown-filter:not(:disabled):not(.disabled).active:focus, .dropdown-filter:not(:disabled):not(.disabled):active:focus, .show > .dropdown-filter.dropdown-toggle:focus {
  box-shadow: none;
}

.dropdown-filter:not(:disabled):not(.disabled).active, .dropdown-filter:not(:disabled):not(.disabled):active, .show > .dropdown-filter.dropdown-toggle {
  color: #BABABA;
  background-color: white;
  border: none;
}

.dropdown-filter.focus, .dropdown-filter:focus {
  box-shadow: none;
}

